/* #body {
  color: rgb(66, 66, 66);
}
.header {
  width: 1600px;
  height: 80px;
  position: static;
  display: block;
  background-color: aqua;
}

.aside {
  background-color: rgb(255, 17, 0);
}

.section {
  background-color: blueviolet;
}

.footer {
  background-color: rgb(0, 255, 42);
} */
