.grande {
  width: 1600px;
  height: 900px;
}
.header {
  height: 20%;
  background-color: blue;
}
.contaner-my {
  display: flex;
  height: 70%;
}
.main {
  width: 70vw;
  background-color: rgb(51, 255, 0);
}
.section-1 {
}
.section-2 {
}
.section-3 {
}
.aside {
  width: 25vw;
  background-color: rgb(255, 0, 0);
}
.footer {
  height: 10%;
  background-color: rgb(238, 255, 0);
}
